@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Sustituye <weight> con el valor específico que necesitas */
    font-style: normal;

    background-color:  #FFECB3
}

nav{
    background-image: url(./imagenes/cabecera2.png);
    color: whitesmoke;
    height: 85px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav img{
    width: 12%;
    display: inline;

}

h1{
    display: inline;
}

a{
    color: inherit;
    padding-left:80%;
}

#caja {
    margin: 10px;
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#ATP {
    border: 3px solid #0076D2;
    border-radius: 15%;
    background-color: black;
}

#gameBoy {
    align-self: flex-start;
    margin-top: 10px;
    width: 40%;
    text-align: center;
    gap: 10px;
    border-radius: 15%;
}

#gameBoy img{
    width: 90%;
    
}

#todo {
    display: flex;
    align-items: center;
}

footer{
    width: 100%;
    display: flex;
    margin-top: 50px;
    background-color: #0076D2;
    color: whitesmoke;
    
}

footer a{
align-items: right;
}

footer img {
    width: 30%;
}

@media (width <= 640px){
    nav img{
        width: 35%;
        display: inline;
        padding-bottom: 1%;
    }

    #todo {
        flex-direction: column-reverse;
    }  
    #caja{
        width: 90%;
    }
    #gameBoy{
        width: 90%;
        margin: 10px auto;

    }
}